/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.toast {
  font-size: 16px;
  color: #fff;
  background-color: #333;
}

.toast-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 320px;
  height: auto;
  text-align: center;
}

.toast-success {
  background-color: green;
  color: white;
  border-radius: 10px;
}

.toast-error {
  background-color: rgb(250, 63, 63);
  color: white;
  border-radius: 10px;
}